<form method="POST" action="/links">
	<input name="url" type="text" placeholder="Enter URL">
	<input name="title" type="text" placeholder="Enter Title">
	<input type="submit" value="Add Bookmark">
</form>