<title>Riya's Links</title>

<h1>Links</h1>

Welcome, <%= @user ? @user.email : "Friend" %>!

<ul id='links'>
	<% @links.each do |link| %>
		<li>
			Title: <%= link.title %>
			URL: <a href="http://<%= link.url %>" target="_blank"><%= link.title %></a>
		</li>
	<% end %>
</ul>