<h1>Add links to Bookmark Manager</h1>

<form action="/links" method ="post">

	<label for = "title">
	  Title:
	  <input type="text" name="title"/>
	</label>

	<br><br>

	<label for = "url">
	  URL:
	  <input type="text" name="url"/>
	</label>

	<br><br>

	<label for = "tags">
	  Tags:
	  <input type="text" name="tags"/>
	</label>

	<br><br>

	<input type="submit" value="Create link">

</form>
